<footer class="footer">
  <div class="container">
    <mat-divider></mat-divider>

    <div class="logo-icon">
      <div class="logo">
        <img src="logo-512.svg" class="logo__img" alt="Leonardo logo" />
        <h3 class="logo__text">Leonardo A. Pinheiro</h3>
      </div>

      <div class="icons">
        <a
          href="https://www.linkedin.com/in/leonardo-anderson-pinheiro/"
          target="_blank"
        >
          <lucide-icon [img]="Linkedin" class="my-icon"></lucide-icon>
        </a>
        <a href="https://github.com/lasantos704" target="_blank">
          <lucide-icon [img]="Github" class="my-icon"></lucide-icon>
        </a>
        <a href="mailto:lasantos704@gmail.com">
          <lucide-icon [img]="Mail" class="my-icon"></lucide-icon>
        </a>
      </div>
    </div>

    <!-- <div class="text-love-box">
      <span>❤️</span>
      <span>Made with love from</span>
      <span class="text-love-box__br">🇧🇷</span>
    </div> -->
  </div>
</footer>
