<mat-card
  class="portfolio-card"
  appearance="outlined"
  [matBadge]="hasBadge ? 'On Site' : null"
  [matBadgeOverlap]="hasBadge ? true : null"
  matBadgeSize="large"
>
  <mat-card-header>
    <mat-card-title class="portfolio-card__title">
      {{ title }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
  @if (hasFooter) {
  <mat-card-footer class="portfolio-card__footer">
    <mat-chip-set aria-label="Skills">
      @for (skill of skills; track skill) {
        <mat-chip>{{ skill }}</mat-chip>
      }
    </mat-chip-set>
  </mat-card-footer>
  }
</mat-card>
