@use "@angular/material" as mat;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

// path node_modules\@angular\material\core\theming\_palettes.scss
html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        theme-type: light,
      ),
      typography: Geist,
      density: 0,
    )
  );

  @include mat.badge-overrides(
    (
      background-color: #000,
      text-color: #fff,
    )
  );

  @include mat.divider-overrides((
    color: rgba(0, 0, 0, 0.300),
    width: 1.5px
  ));
}

body {
  font-family: Geist, "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  background-image: linear-gradient(90deg, #80808012 1px, #0000 1px),
    linear-gradient(#80808012 1px, #0000 1px);
  background-size: 1.5rem 1.5rem;
  color: #1a1b1f;
}
